* {
    font-family: "JetBrainsMono Nerd Font", "SpaceMono Nerd Font", "otf-font-awesome", "feather";
    font-size: 16px;
    font-weight: bold;
    border: none;
    min-height: 0;
    border-radius: 0;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: rgba(44, 44, 44, 0.428);
    color: #c0caf5;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right {
    font-size: 16px;
    padding: 0 10px;
    margin: 3px 0;
    border-radius: 15px;
}

.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 12px;
}

#workspaces button {
    background: transparent;
    font-weight: 900;
    font-size: 13pt;
    color: #c0caf5;
    border: none;
    border-radius: 15px;
}

#workspaces button.active {
    background: #13131d;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-media,
#custom-power_btn,
#tray,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
    color: #fbff00;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}

#custom-arch:hover {
    color: #1793d1;
}

#clock {
    margin: 0 10px;
    padding: 0 20px;
}


#pulseaudio {
    border-radius: 15px 0 0 15px;
    margin-left: 20px;
    padding-left: 15px;
}

#pulseaudio.microphone {
    border-radius: 0 15px 15px 0;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 0;
}

#custom-power_btn:hover,
#custom-weather,
#custom-updater,
#custom-system,
#custom-clipboard:hover,
#clock:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#network:hover,
#tray:hover,
#pulseaudio:hover,
#idle_inhibitor:hover {
    background: rgba(26, 27, 38, 0.624);
}

#custom-updater {
    background: transparent;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    padding: 0 15px;
    margin-right: 10px;
}
