* {
    font-family: "JetBrainsMono Nerd Font", "SpaceMono Nerd Font";
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: rgba(44, 44, 44, 0.428);
    color: #c0caf5;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 12px;
    margin: 3px 0;
    border-radius: 15px;
}

.modules-left {
    margin-left: 12px;
    background: rgba(26, 27, 38, 0.3);
}

.modules-right {
    margin-right: 12px;
}

/* Workspaces */
#workspaces button {
    background: transparent;
    font-size: 13pt;
    color: #c0caf5;
    border-radius: 15px;
    padding: 0 5px;
}

#workspaces button.active {
    background: #13131d;
}

#workspaces button:hover {
    background: #11111b;
}

/* Modules styling */
#clock,
#network,
#custom-power_btn,
#tray,
#cpu,
#pulseaudio,
#memory,
#temperature,
#microphone {
    padding: 0 5px;
    border-radius: 15px;
}

/* Module-specific colors */
#clock {
    color: #e5c913;
}

#cpu {
    color: #95f405;
}

#memory {
    color: #05a0f4;
}

#pulseaudio {
    color: #f40505;
}

#pulseaudio.microphone {
    color: #39e712;
}

#custom-power_btn {
    color: #ff6961;
}

#custom-updater {
    color: #f405b8;
}

#temperature,
#microphone {
    color: #ff79c6;
}

/* Custom icon button */
#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    color: inherit;
}

#custom-arch:hover {
    color: #1793d1;
}

/* Drawer transitions */
#group-temperature,
#group-audio {
    transition: all 0.3s ease;
}
